<tr id="flight-<%= flight.id %>" class="flight">
    <td><%= flight.departure.country %></td>
    <td><%= flight.arrival.country %></td>
    <td><%= flight.departure_date %></td>
    <td><%= flight.duration.to_s + ' hours' %></td>
    <td>$<%= rand(200) + 50 %></td>
    <td><%= render 'shared/booking_form', flight: flight %></td>
</tr>